Creating a simple neural network and classifying MNIST digits.

In [2]:
from numpy import mean
from numpy import std
from matplotlib import pyplot
from sklearn.model_selection import KFold
from keras.datasets import mnist
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Dense
from keras.layers import Flatten,Dropout
from keras.optimizers import SGD
from keras.layers import BatchNormalization

In [3]:
from keras.utils.np_utils import to_categorical
train_df=pd.read_csv('/kaggle/input/digit-recognizer/train.csv')
test_df=pd.read_csv('/kaggle/input/digit-recognizer/test.csv')
train_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test_df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
a=list(test_df.index)
for i in range(len(a)):
    a[i]=a[i]+1

In [6]:
len(a)

28000

In [7]:
X=train_df.drop(columns='label')
y=train_df['label']
X=X/255.0
test_df=test_df/255.0
X=X.values.reshape(-1,28,28,1)
y=y.values.reshape(-1,1)
test_df=test_df.values.reshape(-1,28,28,1)

In [8]:
y = to_categorical(y, num_classes = 10)

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [10]:
model = Sequential()
model.add(Conv2D(32, (3, 3), activation='relu', kernel_initializer='he_uniform', input_shape=(28, 28, 1)))
model.add(MaxPooling2D((2, 2)))
model.add(Conv2D(64, (3, 3), activation='relu', kernel_initializer='he_uniform'))
model.add(Conv2D(64, (3, 3), activation='relu', kernel_initializer='he_uniform'))
model.add(MaxPooling2D((2, 2)))
model.add(Dropout(0.2))
model.add(Flatten())
model.add(Dense(100, activation='relu', kernel_initializer='he_uniform'))
model.add(Dense(10, activation='softmax'))
# compile model
opt = SGD(lr=0.01, momentum=0.9)
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [11]:
history=model.fit(X_train,y_train,epochs=10,verbose=1,validation_data=(X_test,y_test))

Epoch 1/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.1704 - accuracy: 0.9471 - val_loss: 0.0666 - val_accuracy: 0.9793
Epoch 2/10
1050/1050 [==============================] - 3s 3ms/step - loss: 0.0566 - accuracy: 0.9819 - val_loss: 0.0624 - val_accuracy: 0.9812
Epoch 3/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.0423 - accuracy: 0.9860 - val_loss: 0.0489 - val_accuracy: 0.9861
Epoch 4/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.0332 - accuracy: 0.9889 - val_loss: 0.0400 - val_accuracy: 0.9888
Epoch 5/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.0250 - accuracy: 0.9921 - val_loss: 0.0400 - val_accuracy: 0.9895
Epoch 6/10
1050/1050 [==============================] - 4s 4ms/step - loss: 0.0227 - accuracy: 0.9925 - val_loss: 0.0543 - val_accuracy: 0.9865
Epoch 7/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.0176 - accuracy: 0.9940 - val_loss: 0.0557 - val_accuracy: 0.9888
Epoch 8/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.0172 - accuracy: 0.9943 - val_loss: 0.0499 - val_accuracy: 0.9877
Epoch 9/10
1050/1050 [==============================] - 4s 3ms/step - loss: 0.0149 - accuracy: 0.9952 - val_loss: 0.0405 - val_accuracy: 0.9899
Epoch 10/10
1050/1050 [==============================] - 3s 3ms/step - loss: 0.0137 - accuracy: 0.9956 - val_loss: 0.0420 - val_accuracy: 0.9902

In [12]:
y_predAns=model.predict(test_df)

In [13]:
results = np.argmax(y_predAns,axis = 1)
results

array([2, 0, 9, ..., 3, 9, 2])

In [14]:
submission = pd.DataFrame({
        "ImageId": a,
        "Label": results
    })
submission.to_csv('submission9.csv', index=False)

In [15]:
submission

       ImageId  Label
0            1      2
1            2      0
2            3      9
3            4      9
4            5      3
...        ...    ...
27995    27996      9
27996    27997      7
27997    27998      3
27998    27999      9
27999    28000      2

[28000 rows x 2 columns]